html {
    font-size: larger;
    font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

body {
    background-color: antiquewhite;
    position:absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 750px;
    border: 1px solid black;
    border-radius: 10px;
}



a {
    color: black;
}

.profile {
    width: 200px;
    border-radius: 15px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.links {
    position: relative;
    top: -20px;
}

.reachMe {
    position: relative;
    top: -15px;
}