.App {
  background: linear-gradient(to bottom right, #0000ff 0%, #ff9999 100%);
  text-align: center;
  color: #ffffff;
  mix-blend-mode: difference;
}

.portrait {
  height: 60vmin;
  border-radius: 8vmin;
}

#aboutMe {
  font-size: 2.5vmin;
  width: 70vmin;
}

.links {
  font-style: italic;
  color: #ffffff;
  text-decoration: none;
}

.links:hover {
  color: #000000;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.item {
  padding: 2vmin;
  text-align: center;
}

.bigContainer {
  justify-content: center;
  display: flex;
  flex-wrap: wrap; /* Allows wrapping if items overflow */
}

.bigItem {
  padding: 20px;
  text-align: center;
  max-width: 70vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}